<div id="centerid" class="center Absolute-Center" style="height:200px">
    CharDee MacDennis 3:<br>
    TechPocalypse Edition
</div>
<div class="bWrapper Absolute-Center" style="height:200px; margin-top:70vh">
    <a href="<%= game_index_path %>" class="ui inverted button">Play</a>
</div>
<div style="visibility: hidden; height: 0; overflow: hidden;">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/WKFIDLMliHo?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
